@media (min-width: 64rem) {



    .image-container {
        flex: 1;
      flex-direction: column;        
    }

    .image-container img {
        max-width: 100%;
        max-height: auto;
        object-fit: cover;
    }
       
      .image-container .magnifier {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
 
    .main-product {
        max-width: 100%;
        max-height: auto;
        display: flex;
        flex-direction: row;
        margin-top: 4rem;
        gap: 2rem;
      }

      .text-container{
        flex: 1;
      }
}
