@media (min-width: 48rem) {
  header .logo {
    margin-left: 0;
    padding-left: 15rem;
  }

  .image-container {    
    justify-content: flex-start;   
  }
  .image-container img {
    max-width: 50%;
    max-height: auto;
    object-fit: cover;
  }
  .image-container .magnifier {
    position: absolute;
    top: 3%;
    right: 53%;
  }

  .text-container {
    justify-content:flex-end;
  }
}
