@media (min-width: 48rem) {
  header .logo {
    margin-left: 0;
    padding-left: 15rem;
    width: 31.25rem;
  }

  main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .image-container {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .nav-container {
  }

  .image-container img {
    max-width: 100%;
    object-fit: cover;
    position: relative;
  }

  .image-container .magnifier {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .text-container {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .main-product {
    max-width: 100%;
    max-height: auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    margin-top: 4rem;
    gap: 2rem;
  }

  .img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  .img-container img {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
  }

  .related-title {
    text-align: center;
  }

  .description-container {
    display: grid;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    grid-template-columns: 2fr 3fr;
    margin-bottom: 4rem;
  }

  .description-link nav {
    margin-top: 0;
  }

  .arrow-icon {
    margin-top: 0;
  }

  .material-symbols-outlined.icon-mobile {
    display: none;
  }

  .material-symbols-outlined.icon-desktop {
    display: inline;
  }

  .description-container div {
    grid-row: 1;
  }

  .description {
    margin-top: 0;
  }

  footer .div-section {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: solid #eaebe7;
    border-width: 0.1rem;
    flex: 1 1 calc(25% - 1rem);
  }

  .column-container {
    display: none;
  }

  .shoppingcart {
    display: flex;
  }

  .basket {
    position: fixed;
    text-align: center;
    width: 4rem;
    height: 4rem;
    bottom: 1rem;
    right: 2rem;
    border-style: solid, #533f31;
    padding-top: 0.7rem;
    border-radius: 50%;
    color: white;
    background-color: #533f31;
    z-index: 1;
  }

  .material-icon {
    font-size: 38px;
    color: white;
  }

  .counter {
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    background-color: black;
    color: white;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 50%;
  }
}
